@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body{
    font-family: 'Lato', sans-serif;
}
.title{
    border-bottom: 6px solid #34495e;
    font-size: 1.3em;
    text-align: center;
    font-weight: 700;
    color:#34495e;
    width:80%;
    margin:auto
}
.container{
    margin-top: 15px;
    display: flex ;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    background: #000000;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    cursor: pointer
}
div.item * {
    box-sizing: border-box;
  }

  div.item img {
    max-width: 100%;
    vertical-align: top;
    height: 210px;
  }
.item i{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    font-size: 34px;
    color: #000000;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    transform:translate(-50%,-50%) scale(0);
    transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
div.item.red {
    background-color:#16a085;;
}
div.item.red i {
    color: #16a085;;
}
div.item:hover img{
    opacity:0.3;
    filter: grayscale(100%)
}

div.item:hover i{
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
div.item span{
    display:block;
    padding:15px 20px;
    color:white;
}


  
